.postContainer {
    border: 1px solid black;
    max-width: 80vw;
}

.postTitle {
    max-width: 80vw;
}

.postUser {
    font-size: 12px;
    font-weight: 500;
    text-align: right;
}

.postContents {
    font-size: 12px;
    font-weight: 300;
}